.git/
.env
**/.idea/
**/.vscode/
**/__pycache__/
**/*.py[cod]
**/node_modules/
**/dist/
**/target/
ultralytics-main/.git/
ultralytics-main/.github/
ultralytics-main/docs/
ultralytics-main/examples/
ultralytics-main/tests/
ultralytics-main/runs/
ultralytics-main/*.pt
参考ppt.pptx
文档资料.docx
